<% provide(:title, @product.name) %>
<h1><%= @product.name %></h1>

<h2>商品説明</h2><p><%= @product.explanation %></p>
<h2>価格</h2><p><%= @product.price %>円</p>
<h2>現在の在庫</h2><p><%= @product.stock %>個</p>

