<% provide(:title, @product.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @product %>
        <%= @product.name %>
        <%= @product.explanation %>
        <%= @product.price %>
      </h1>
    </section>
  </aside>
</div>