<footer class="footer">
  <small>
    ページ作成者： <a href="https://www.facebook.com/profile.php?id=100009637422067">こちら</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://www.kobai.jp/">香梅の公式サイト(すっごくおすすめだからね)</a></li>
    </ul>
  </nav>
</footer>